Hallo,

Sie haben ein Zurücksetzen des Passworts für das Projekt "{{ project.name }}" angefordert.
Hierzu klicken Sie bitte auf diesen Link: <{{ url_for(".reset_password", _external=True, token=project.generate_token(expiration=3600)) }}>.
Dieser Link ist nur eine Stunde lang gültig.

Viel Erfolg!
Ein Haufen (bärtiger) komischer Typen
